# ========================
# APP CONFIG
# ========================
PORT=3000
NODE_ENV=development

# ========================
# DATABASE (MongoDB)
# ========================
MONGO_URI=mongodb://db:27017/chat-demo

# ========================
# AUTH (JWT)
# ========================
JWT_SECRET=*****************
JWT_EXPIRES_IN=7d

# ========================
# SOCKET
# ========================
CLIENT_URL=http://localhost:5173
CLIENT_URL_PROD=https://chat.duyetnt.com

# ========================
# REDIS
# ========================
REDIS_HOST=redis
REDIS_PORT=6379

# ========================
# Logging
# ========================
LOG_DIR=logs